<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/users">Show users grades</a>
  </body>
</html>
